<template>
  <section class="section">
    <div class="container">
      <h1 class="title">
        App
      </h1>
      <p class="subtitle">
        Another app made with <strong>Vue.js</strong>!
      </p>
    </div>
  </section>
</template>

<script>
export default {
  mounted () {

  },
  computed: {
    data() {
      return this.$store.state.data
    },
  }
}
</script>

<style>

</style>
